name: Post merge checks

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    continue-on-error: true


    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6

      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Checks if commiting secrets to repo
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: "detect-secrets --all-files"

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run test and write coverage
        run: npm run test
        
      - name: "Run SonarCloud Scan"
        if: ${{ success() && github.actor != 'dependabot[bot]' }}
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}